#searchResults {

    
    height: 960px;
    background-color: rgba(116, 0, 0, 0.856);
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 25px;
}



.card-header {

    font-weight: bolder;
    color: white;
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


body { 
   
    background: url(./images/newbackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  .heartBut {

    width: 200px;
    color: darkred;

  }

  
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    background-color: rgb(4, 4, 87); 
    border-bottom: white solid 3px;  
}

.aboutUs {
    background-color: rgba(116, 0, 0, 0.856);
    margin-top: 100px;
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 25px;
}

.searchResultsDiv {
    background-color: rgba(116, 0, 0, 0.856);
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 25px;

}
.info {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    padding: 40px;
    text-align: center;
       
}
.navbar-brand {
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.nav-link {
    color: rgb(0, 0, 0);
    margin: 5px;    
    border-radius: 10px;
    
}
.nav-link:hover {
    background-color: rgb(30, 97, 32); 
    color: white;
}
.fa-utensils {
    color: white;

}

#pageTitle {

    color: white;
}



.searchNavbar {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: darkblue;
  

}

.navbar-light {

    border:  rgba(116, 0, 0, 0.856) solid 3px;
    border-radius: 25px;
}