#searchResults {

   
    background-color: lightgray;
    height: 960px;
}



.card-header {

    font-weight: bolder;
    color: green;
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


body { 
   
    background: url(./images/newbackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  .heartBut {

    width: 200px;
    color: darkred;

  }

.navbar-brand {

    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 26px;
   
}

.container {

    font-family:  Verdana, Arial, Helvetica, sans-serif;
}